Package: libperl-sagitta-amdinfo
Version: 1.0.0-1
Architecture: amd64
Maintainer: Jeremi Gosney <jgosney@stricture-group.com>
Installed-Size: 72
Depends: libc6 (>= 2.2.5), perl, fglrx
Section: misc
Priority: important
Description: AMD ADL bindings for Perl
 AMD ADL bindings for Perl, developed by Stricture Group for use in Sagitta Hashstack. These are not full ADL bindings. We do not wrap every single ADL function, nor do we attempt to follow the same syntax as the original C functions. Instead, we create simpler Perl methods for only the functionality we needed in Hashstack.
